extends layout

block content
    h1 Searched by #{msg}

    if events
        if city
            h3 Here are some music events in #{city}

        each event in events
            - const url = event.url
            li
                a(href=url) #{event.name} on #{event.dates.start.localDate}


    if noEvents
        p We found no events in #{city} :(
